In [8]:
import pandas as pd

# Load the dataset
url = 'https://raw.githubusercontent.com/jbrownlee/Datasets/master/iris.csv'
columns = ['sepal-length','sepal-width','petal-length','petal-width','class']
df = pd.read_csv(url, names=columns)

# Display info
print(df.shape)
print(df.head())
print(df.info())

# Summary statistics
print(df.describe())

(150, 5)
   sepal-length  sepal-width  petal-length  petal-width        class
0           5.1          3.5           1.4          0.2  Iris-setosa
1           4.9          3.0           1.4          0.2  Iris-setosa
2           4.7          3.2           1.3          0.2  Iris-setosa
3           4.6          3.1           1.5          0.2  Iris-setosa
4           5.0          3.6           1.4          0.2  Iris-setosa
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   sepal-length  150 non-null    float64
 1   sepal-width   150 non-null    float64
 2   petal-length  150 non-null    float64
 3   petal-width   150 non-null    float64
 4   class         150 non-null    object
dtypes: float64(4), object(1)
memory usage: 6.0+ KB
None
       sepal-length  sepal-width  petal-length  petal-width
count    150.000000   150.000000    150.000000   150.000000
mean       5.843333     3.054000      3.758667     1.198667
std        0.828066     0.433594      1.764420     0.763161
min        4.300000     2.000000      1.000000     0.100000
25%        5.100000     2.800000      1.600000     0.300000
50%        5.800000     3.000000      4.350000     1.300000
75%        6.400000     3.300000      5.100000     1.800000
max        7.900000     4.400000      6.900000     2.500000

In [9]:
# Group by 'class' and get summary statistics
grouped_stats = df.groupby('class').agg(['mean', 'median', 'min', 'max', 'std'])
print("\nGrouped Summary Statistics by Class:")
print(grouped_stats)

Grouped Summary Statistics by Class:
                sepal-length                            sepal-width         \
                        mean median  min  max       std        mean median
class
Iris-setosa            5.006    5.0  4.3  5.8  0.352490       3.418    3.4
Iris-versicolor        5.936    5.9  4.9  7.0  0.516171       2.770    2.8
Iris-virginica         6.588    6.5  4.9  7.9  0.635880       2.974    3.0

                                    petal-length                             \
                 min  max       std         mean median  min  max       std
class
Iris-setosa      2.3  4.4  0.381024        1.464   1.50  1.0  1.9  0.173511
Iris-versicolor  2.0  3.4  0.313798        4.260   4.35  3.0  5.1  0.469911
Iris-virginica   2.2  3.8  0.322497        5.552   5.55  4.5  6.9  0.551895

                petal-width
                       mean median  min  max       std
class
Iris-setosa           0.244    0.2  0.1  0.6  0.107210
Iris-versicolor       1.326    1.3  1.0  1.8  0.197753
Iris-virginica        2.026    2.0  1.4  2.5  0.274650

In [12]:
#Creating list of sepal-length values grouped by class
species_groups = df.groupby('class')['sepal-length'].apply(list)
print("\nList of 'sepal-length' values for each species:")
print(species_groups.to_dict())

List of 'sepal-length' values for each species:
{'Iris-setosa': [5.1, 4.9, 4.7, 4.6, 5.0, 5.4, 4.6, 5.0, 4.4, 4.9, 5.4, 4.8, 4.8, 4.3, 5.8, 5.7, 5.4, 5.1, 5.7, 5.1, 5.4, 5.1, 4.6, 5.1, 4.8, 5.0, 5.0, 5.2, 5.2, 4.7, 4.8, 5.4, 5.2, 5.5, 4.9, 5.0, 5.5, 4.9, 4.4, 5.1, 5.0, 4.5, 4.4, 5.0, 5.1, 4.8, 5.1, 4.6, 5.3, 5.0], 'Iris-versicolor': [7.0, 6.4, 6.9, 5.5, 6.5, 5.7, 6.3, 4.9, 6.6, 5.2, 5.0, 5.9, 6.0, 6.1, 5.6, 6.7, 5.6, 5.8, 6.2, 5.6, 5.9, 6.1, 6.3, 6.1, 6.4, 6.6, 6.8, 6.7, 6.0, 5.7, 5.5, 5.5, 5.8, 6.0, 5.4, 6.0, 6.7, 6.3, 5.6, 5.5, 5.5, 6.1, 5.8, 5.0, 5.6, 5.7, 5.7, 6.2, 5.1, 5.7], 'Iris-virginica': [6.3, 5.8, 7.1, 6.3, 6.5, 7.6, 4.9, 7.3, 6.7, 7.2, 6.5, 6.4, 6.8, 5.7, 5.8, 6.4, 6.5, 7.7, 7.7, 6.0, 6.9, 5.6, 7.7, 6.3, 6.7, 7.2, 6.2, 6.1, 6.4, 7.2, 7.4, 7.9, 6.4, 6.3, 6.1, 7.7, 6.3, 6.4, 6.0, 6.9, 6.7, 6.9, 5.8, 6.8, 6.7, 6.7, 6.3, 6.5, 6.2, 5.9]}

In [13]:
setosa = df[df['class'] == 'Iris-setosa'].describe()
versicolor = df[df['class'] == 'Iris-versicolor'].describe()
virginica = df[df['class'] == 'Iris-virginica'].describe()

In [14]:
print("\nDescriptive Stats for Iris-setosa:")
display(setosa)

print("\nDescriptive Stats for Iris-versicolor:")
display(versicolor)

print("\nDescriptive Stats for Iris-virginica:")
display(virginica)

Descriptive Stats for Iris-setosa:

       sepal-length  sepal-width  petal-length  petal-width
count      50.00000    50.000000     50.000000     50.00000
mean        5.00600     3.418000      1.464000      0.24400
std         0.35249     0.381024      0.173511      0.10721
min         4.30000     2.300000      1.000000      0.10000
25%         4.80000     3.125000      1.400000      0.20000
50%         5.00000     3.400000      1.500000      0.20000
75%         5.20000     3.675000      1.575000      0.30000
max         5.80000     4.400000      1.900000      0.60000

Descriptive Stats for Iris-versicolor:

       sepal-length  sepal-width  petal-length  petal-width
count     50.000000    50.000000     50.000000    50.000000
mean       5.936000     2.770000      4.260000     1.326000
std        0.516171     0.313798      0.469911     0.197753
min        4.900000     2.000000      3.000000     1.000000
25%        5.600000     2.525000      4.000000     1.200000
50%        5.900000     2.800000      4.350000     1.300000
75%        6.300000     3.000000      4.600000     1.500000
max        7.000000     3.400000      5.100000     1.800000

Descriptive Stats for Iris-virginica:

       sepal-length  sepal-width  petal-length  petal-width
count      50.00000    50.000000     50.000000     50.00000
mean        6.58800     2.974000      5.552000      2.02600
std         0.63588     0.322497      0.551895      0.27465
min         4.90000     2.200000      4.500000      1.40000
25%         6.22500     2.800000      5.100000      1.80000
50%         6.50000     3.000000      5.550000      2.00000
75%         6.90000     3.175000      5.875000      2.30000
max         7.90000     3.800000      6.900000      2.50000